<div class='modal fade' id='login'>
  <div class='modal-dialog modal-sm'>
    <div class='modal-content' id='loginModal'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal'>
          <span aria-hidden='true'>&times;</span>
          <span class='sr-only'>Close</span>
        </button>
        <h3>Log in</h3>
      </div>
      <div class='modal-body'>
        <div class='alert alert-info Hidden' id='loginReason'><!-- Rendered somewhere else, if needed --></div>
        <div id='homeContainer'>
          <div id='bg'></div>
          <div id="fb-root"></div>
          <div class='ArtistLogin' id='artistLogin'>

            <div class="alert alert-danger Hidden Alerts">
              <!--  rendered using react (via signup.js) -->
            </div>
            <div id="formSuccess" class="alert alert-success Hidden">
              <!-- rendered using react (via signup.js) -->
            </div> 
            <div id='login_alerts'></div>           
            <%= form_for(User.new, method: :post, url: sessions_path, html: { id: 'loginForm' }) do |f| %>
              <div class='form-group'>
                <%= f.label 'Email' %>
                <%= f.email_field :email, class: 'form-control', placeholder: "Email", required: true  %>
              </div>
              <div class='form-group'>
                <%= f.label 'Password' %>
                <span id='resetPasswordLink'><a href='#reset_password' id='resetPassword'>Reset password</a></span>
                <%= f.password_field :password, class: 'form-control', placeholder: "Password", required: true%>
              </div>
              <%= button_tag "Log in", class: "btn btn-large btn-primary", id: "loginButtonModal" %>
              <span class='pull-right' id='signupFromLoginPrompt'>Need an account? <a href='#signup' id='signupFromLogin'>Sign up</a></span>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
