<div class='modal fade' id='signup'>
  <div class='modal-dialog modal-sm'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal'>
          <span aria-hidden='true'>&times;</span>
          <span class='sr-only'>Close</span>
        </button>
        <h3>Sign up</h3>
        <p>No obligations, commitments, or hidden fees.</p>
      </div>
      <div class='modal-body signupModal' id='signupModal'>
        <div class='alert alert-info Hidden' id='signupReason'><!-- Rendered somewhere else, if needed --></div>
        <div id='fanSignup'>
          <div class="alert alert-danger Hidden Alerts" role="alert"></div>
          <%= form_for User.new do |u| %>
            <input type='hidden' name='source' />
            <div class='form-group'>
              <%= u.label 'Your name' %><br />
              <%= u.text_field :fname, class: 'form-control', placeholder: 'First name' %>
              <%= u.text_field :lname, class: 'form-control', placeholder: 'Last name' %>
            </div>
            <div class='form-group'>
              <%= u.label 'Email' %>
              <%= u.email_field :email, class: 'form-control', placeholder: 'you@example.com' %>
            </div>
            <div class='form-group'>
              <%= u.label 'Password' %>
              <%= u.password_field :password, class: 'form-control', placeholder: 'Pick a secure password' %>
            </div>
            <%= u.submit 'Sign up', class: 'btn btn-primary', id: 'signupSubmit' %>
          <% end %>
        </div>
        <p class='' id='loginFromSignupPrompt'>Have an account? <a href='#login' id='loginFromSignup'>Login</a></p>
      </div>
    </div>
  </div>
</div>
